__pycache__/demo_query.cpython-36.pyc
__pycache__/database.cpython-36.pyc
__pycache__
*.pyc
.ipynb_checkpoints/research-checkpoint.ipynb
.ipynb_checkpoints/*
.ipynb_checkpoints
models/fast_style_transfer/pretrained/*
models/style_swap/pretrained/*
models/mask_style_transfer/pretrained/*