{% extends "base.html" %}

<!-- Navbar Button -->
{% block topNavbar %}
<a class="nav-link to-top" href="#">Home
	<span class="sr-only">(current)</span>
</a>
{% endblock topNavbar %}

{% block modal %}
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Woops!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<p class="h4" id="infoModalText">Something goes wrong.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}


{% block header %}
<!-- Title Content -->
<header>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<!-- Slide One - Set the background image for this slide in the line below -->
			<div class="carousel-item active" style="background-image: url('./static/img/landing/la_muse_lucechapel.png')">
				<div class="carousel-caption d-none d-md-block">
					<h3>Luce Chapel & La Muse</h3>
					<p>La Muse by Pablo Picasso</p>
				</div>
			</div>
			<!-- Slide Two - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('./static/img/landing/udnie_lucechapel.png')">
				<div class="carousel-caption d-none d-md-block">
					<h3>Luce Chapel & Udnie</h3>
					<p>Udnie by Francis Picabia.</p>
				</div>
			</div>
			<!-- Slide Three - Set the background image for this slide in the line below -->
			<div class="carousel-item" style="background-image: url('./static/img/landing/wave_crop_lucechapel.png')">
				<div class="carousel-caption d-none d-md-block">
					<h3>Luce Chapel & 神奈川沖浪裏</h3>
					<p>神奈川沖浪裏 by 葛飾 北斎</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</header>
{% endblock header %}

{% block introduce %}
<!-- About -->
<section id="introduce" class="mt-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h2 class="section-heading text-uppercase">Welcome to Tucana</h2>
				<h3 class="section-subheading text-muted">Please choose a transfer mode.</h3>
			</div>
		</div>
		<section>
		  <div class="container">
		    <div class="row align-items-center border rounded" id="fast-style">
		      <div class="col-lg-6 order-lg-2">
		        <div class="p-5">
		          <img class="img-fluid rounded" src="{{url_for('static', filename='img/introduce/intro_content.jpg')}}" alt="Your image">
		        </div>
		      </div>
		      <div class="col-lg-6 order-lg-1">
		        <div class="p-5">
		          <h2>Fast neural style</h2>
		          <p class="h5">In this mode, you can select one style we prepared for you.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>

		<section>
		  <div class="container">
		    <div class="row align-items-center border rounded" id="style-swap">
		      <div class="col-lg-6 order-lg-2">
		        <div class="p-5">
		          <img class="img-fluid rounded" src="{{url_for('static', filename='img/introduce/intro_udnie.jpg')}}" alt="Style image">
		        </div>
		      </div>
		      <div class="col-lg-6">
		        <div class="p-5">
		          <h2>Style swap transfer</h2>
		          <p class="h5">In this mode, you can upload any image you like as the style.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>

		<section>
		  <div class="container">
		    <div class="row align-items-center border rounded" id="mask-style">
		      <div class="col-lg-6 order-lg-2">
		        <div class="p-5">
		          <img class="img-fluid rounded" src="{{url_for('static', filename='img/introduce/intro_result.jpg')}}" alt="Result image">
		        </div>
		      </div>
		      <div class="col-lg-6 order-lg-1">
		        <div class="p-5">
		          <h2>Mask neural style</h2>
		          <p class="h5">In this mode, you can select two styles, the machine will detect 
		          some objects in the image and apply one style on these objects, another style on background.</p>
		        </div>
		      </div>
		    </div>
		  </div>
		</section>
	</div>
</section>
{% endblock introduce %}

<!-- Page Content -->
{% block main %}

<!--  To top button -->
<a class="rounded to-top" id="scroll-to-top" href="#page-top">
	<i class="fa fa-angle-up"></i>
</a>
{% endblock main %}

{% block script %}

<script type="text/javascript">
	"use strict";
	// Load this part while the DOM is ready
	$(function() {
		// To top button
		$(".to-top").click(function() {
			$('html, body').animate({
				scrollTop: $("#page-top").offset().top
			}, 1000, 
			"easeInOutExpo");
			return false;
		});

		$("#fast-style").click(function() {
			window.location.href = '/faststyle';
			return false;
		});

		$("#style-swap").click(function() {
			window.location.href = '/styleswap';
			return false;
		});

		$("#mask-style").click(function() {
			window.location.href = '/maskstyle';
			return false;
		});
	  	// Display the to top button
	  	$(document).scroll(function() {
	  		var scrollDistance = $(this).scrollTop();
	  		if (scrollDistance > 100) {
	  			$('#scroll-to-top').fadeIn();
	  		} else {
	  			$('#scroll-to-top').fadeOut();
	  		}
	  	});
	  }); 
	</script>
	{% endblock script %}